.catalog {
    width: 100%;
}

.cards {
    --card-size: 190px;

    display: flex;
    flex-wrap: wrap;
    align-items: end;
    justify-content: center;
    gap: clamp(18px, 3vw, 38px);
}

.cardSlot {
    display: flex;
    flex: 0 0 var(--card-size);
    align-items: flex-end;
    width: var(--card-size);
    height: calc(var(--card-size) + 200px);
}

@media (max-width: 900px) {
    .cards {
        --card-size: 170px;
        gap: 24px;
    }
}

@media (max-width: 600px) {
    .cards {
        --card-size: 190px;
        gap: 18px;
    }
}
